.video
    display: flex
    position: relative !important

.video__frame
    justify-content: center
    margin: auto
    width: calc(100% - 32px)
    height: 250px
    margin-bottom: 16px
    margin-left: 16px